.orders-list {  
    display: none;          
    flex-direction: column;  
    gap: 16px;               
    padding: 0;
    margin: 20px 0;
    list-style: none;     
    li {
        border: 1px solid #ccc; 
        border-radius: 6px;    
        padding: 12px;
        background-color: #fafafa; 
        box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
        table {
            width: 100%;
            border-collapse: collapse;     
            td {
                padding: 6px 10px;
                border-bottom: 1px solid #ddd;
                border-bottom: none; 
                &:first-child {
                    font-weight: bold; 
                    width: 35%;       
                }
            }
            tr {

                &:last-child {
                    border-bottom: none; 
                }
        
            }
        }
        .btn-delete {
                display: inline-block;
                background-color: #e43112;
                color: #fff;
                padding: 5px 14px;
                border: none;
                border-radius: 8px;
                font-size: 1.1rem;
                font-weight: bold;
                cursor: pointer;
                text-align: center;     
                line-height: 1.5;
                box-shadow: 0 2px 8px rgba(0,0,0,0.08);
                transition: background 0.2s, box-shadow 0.2s;
                &:hover {
                    background-color: #bf2004;
                    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
                }
                margin-top: 10px; 
        }
    }
}