.body {
  display: flex;
  flex-direction: column;     
  justify-content: center;    
  align-items: center;        
  min-height: 100px;          
  margin: 0;         

  .logo {
    width: 100px;
    height: auto;
    display: block;       
  }

  .container {
    display: flex;
    gap: 20px;
    width: auto;                     
  }
}




