.products{
    ul {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    li {
        padding: 6px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        :hover {
            background-color: #f2f2f2;
        }
    }
} 

