.light-theme {
    --background-color: #ffffff;
    --text-color: #333;
    --btn-background-color: #1976d2;
    --btn-text-color: white;
    --input-border-color: #ccc;
    --input-focus-color: #1976d2;
}


.dark-theme {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --btn-background-color: #6200ea;
    --btn-text-color: white;
    --input-border-color: #444;
    --input-focus-color: #6200ea;
}


h2 {
    font-size: 32px;
    margin-top: 20px;
    font-weight: 600;
    text-align: center; 
}

.dark-theme h2 {
    color: #e0e0e0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.auth-form {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 2rem;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.auth-form .input-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}

.auth-form label {
    width: 30%;
    margin-right: 1rem;  
    font-weight: bold;
    text-align: left; 
}

.auth-form input {
    flex: 1;  
    padding: 0.8rem;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    font-size: 1rem;
}

.auth-form input:focus {
    border-color: var(--input-focus-color);
    outline: none;
}


.auth-form button {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.auth-form button:hover {
    opacity: 0.5;
}

.auth-form .btn-cancel {
    background-color: #f44336;
    margin-top: 0.5rem;
}

.auth-form .btn-cancel:hover {
    background-color: darken(#f44336, 10%);
}

