.page404-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 30px auto 0;
    padding: 32px 24px;
    color: var(--text-color);
    text-align: center;
}

.page404-heading {
    font-size: 4rem;
    margin: 0;
    color: var(--btn-delete-background); 
}

.page404-message {
    font-size: 1.1rem;
    margin: 20px 0;
    color: var(--text-color);
}

.page404-link {
    margin-top: 10px;
    padding: 10px 18px;
    border-radius: 10px;
    text-decoration: none;

    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
    font-size: 0.95rem;
    cursor: pointer;
    border: none;
    display: inline-block;
}

.page404-link:hover {
    opacity: 0.9;
}
