.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.light-theme .content {
  background-color: rgba(0, 0, 0, 0.05);
}

.content h2 {
  color: var(--text-color);
  margin-bottom: 20px;
}

.content form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid var(--input-border-color);

  background-color: var(--background-color);
  color: var(--text-color);

  font-size: 15px;
}

.content input:focus {
  border-color: var(--input-focus-color);
}

.btn {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 18px;
}

.btn-save,
.btn-cancel {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.btn-save {
  background-color: var(--btn-background-color);
  color: var(--btn-text-color);
}

.btn-save:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-cancel {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--input-border-color);
}

.btn-cancel:hover {
  opacity: 0.5;
}

.dark-theme .btn-cancel {
  background-color: rgba(255, 255, 255, 0.10);
  border-color: rgba(255, 255, 255, 0.35);
}
