ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;        
  justify-content: center;
}

li {
  padding: 16px;
  background: #f3f3f3;
  border-radius: 12px;
  font-size: 32px;   
  cursor: pointer;
  transition: 0.2s;
}

li:hover {
  background: #e4e4e4;
  transform: translateY(-3px);
}

li:active {
  transform: scale(0.95);
}
