.light-theme {
    --background-color: #ffffff;
    --text-color: #333;
    --btn-background-color: #1976d2;
    --btn-text-color: white;
    --table-background-color: #ffffff;
    --btn-delete-background: #e63946;
    --btn-delete-hover: #b51c25;
    --input-border-color: #ccc;
    --input-focus-color: #1976d2;
}

.dark-theme {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --btn-background-color: #6200ea;
    --btn-text-color: white;
    --table-background-color: #333;
    --btn-delete-background: #ff1744;
    --btn-delete-hover: #d50000;
    --input-border-color: #444;
    --input-focus-color: #6200ea;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.btn-add, .btn-save, .btn-cancel, button.btn-delete {
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
}

table {
    background: var(--table-background-color);
}

button.btn-delete:hover {
    background-color: var(--btn-delete-hover);
}

.content input {
    border: 1px solid var(--input-border-color);
}

.content input:focus {
    border-color: var(--input-focus-color);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h2 {
  font-size: 32px;
  margin-top: 20px;
  font-weight: 600;
  color: #333;
}